################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Personal-Documents/FileContentIndex
/.vs/Personal-Documents/v17
/.vs
